[submodule "configs/zsh/customThemes/bullet-train-oh-my-zsh-theme"]
	path = configs/zsh/customThemes/bullet-train-oh-my-zsh-theme
	url = https://github.com/caiogondim/bullet-train-oh-my-zsh-theme.git
