[submodule "configs/zsh/customThemes/bullet-train-oh-my-zsh-theme"]
	path = configs/zsh/customThemes/bullet-train-oh-my-zsh-theme
	url = https://github.com/caiogondim/bullet-train-oh-my-zsh-theme.git
[submodule "configs/vim/_vim/bundle/Vundle.vim"]
	path = configs/vim/_vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
